<div class="inner-content">
  <div class="form-stats">
    <div class="block inactive">
      <strong count-to="0" value="0" duration="2"
        filter="number">0</strong> New
    </div>

    <div class="block">
      <strong count-to="{{form.form.submissions.length}}" value="0" duration="2"
        filter="number">0</strong> Total
    </div>

    <div class="block">
      <strong>0</strong> Failed
    </div>
  </div>

  <p>Your form action URL: http://getwalter.io/f/{{ form.form.token }}</p>

  <p ng-show="form.form.redirected">You have a custom thankyou page setup. You can
  visit this <a href="{{form.form.redirect_url}}">here</a>.</p>

  <h2>Recipients</h2>
  <ul>
    <li ng-repeat="email in form.form.recipients">{{email}}</li>
  </ul>

  <h3>Submissions</h3>

  <ul>
    <li ng-repeat="submission in form.form.submissions">
      <p>Email from: {{ submission.email }}</p>
      <p>Sent: {{ submission.created_at | date: 'medium' }}<p>
      <p>Data: {{ submission.data }}</p>
    </li>
  </ul>

  <h3>Get Started</h3>

  <p>Get started with this simple form to start receiving subsmissions:</p>

  <pre class="form-snippet-example"><code class="html">&lt;form action=&quot;//getwalter.io/f/<strong>{{ form.form.token }}</strong>&quot; method=&quot;POST&quot; accept-charset=&quot;UTF-8&quot;&gt;
  &lt;input type=&quot;text&quot; name=&quot;name&quot; placeholder=&quot;Your Name&quot; autofocus=&quot;true&quot;&gt;
  &lt;input type=&quot;email&quot; name=&quot;email&quot; placeholder=&quot;Your Email&quot; required=&quot;true&quot;&gt;
  &lt;textarea name=&quot;message&quot; placeholder=&quot;Write a message...&quot;&gt;&lt;/textarea&gt;
  &lt;button type=&quot;submit&quot;&gt;Send Message&lt;/button&gt;
&lt;/form&gt;</code></pre>
<a ui-sref="forms.edit({id: form.form.id})" class="btn">Edit Form</a>
</div>
