.sign-up {
  margin: 10rem auto;
  width: 30rem;
  text-align: center;
  
  h2 {
    font-weight: 100;
    color: #201335;
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  
  .other-links {
    margin-top: 4rem;
    
    a {
      color: #aaa;
      margin: 0 1rem;
      font-size: 1.2rem;
      
      &:hover {
        color: black;
      }
    }
  }
}