<div class="inner-content">
  <ng-form name="updateForm" novalidate>
    <input type="text" name="name" placeholder="Name*" ng-model="edit.formData.name" ng-maxlength="70" required />
    <p ng-show="updateForm.name.$invalid && !updateForm.name.$pristine">Your form must have a name.</p>
    <p ng-show="updateForm.name.$error.maxlength">You must enter a shorter name.</p>

    <!-- <button type="button" ng-click="edit.customThanksPageRequired = !edit.customThanksPageRequired" class="btn">Set custom thankyou page</button> -->

    <!-- <div ng-show="edit.customThanksPageRequired"> -->
      <input type="text" name="redirect_url" placeholder="Redirect URL" ng-model="edit.formData.redirect_url" />
      <label for="forward_query_string">
        Forward form data as a query string?
        <input type="checkbox" name="forward_query_string" ng-model="edit.formData.forward_query_string" />
      </label>
    <!-- </div> -->

    <!-- <button type="button" ng-click="edit.showOptionalEmailForm = !edit.showOptionalEmailForm" class="btn">Add Optional Recipients</button> -->

    <!-- <div ng-show="edit.showOptionalEmailForm"> -->
      <ul>
        <li ng-repeat="email in edit.formData.recipients">
          {{email}}
          <button ng-click="edit.removeOptionalEmail(email)">Remove</button>
        </li>
      </ul>

      <ng-form name="newOptionalEmail">
        <input type="text" ng-model="edit.newOptionalEmail" placeholder="Optional email" />
        <button type="submit" ng-click="edit.addOptionalEmail(newOptionalEmail.$valid)" class="btn">Add</button>
      </ng-form>
    <!-- </div> -->

    <button type="submit" ng-click="edit.updateForm(updateForm.$valid)" ng-disabled="updateForm.$invalid" class="btn">Update Form</button>
  </ng-form>
</div>
