footer {
  padding: 60px 0;
  font-size: 0;

  .col {
    width: 33.333%;
    display: inline-block;
    vertical-align: top;
    padding: 0 30px;
  }

  ul, p {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 15px;
  }
}
