ul.form-list {
  li {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 1.2em 2.2em;
    @include transition(all 0.15s ease-in);
    @include clearfix;

    &:hover {
      background: rgba(0,0,0,0.05);
    }

    .overview {
      @include span-columns(7);

      span.name {
        font-weight: 700;
        display: block;
      }

      span.last-submission {
        color: #CCCCCC;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.8em;
      }
    }

    .stats,
    .actions {
      text-align: center;
    }

    .stats {
      @include span-columns(2);
    }

    .actions {
      @include span-columns(2);
      @include shift(1);
    }

    .stats {

      a {
        display: block;
        @include span-columns(1 of 2);

        strong {
          color: #545454;
          font-weight: 700;
          font-size: 1em;
          display: block;
        }

        span {
          color: #CCCCCC;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 0.8em;
        }
      }
    }

    .actions {

      span {
        @include span-columns(1 of 2);

        &.settings > a {
          @include background-image(asset-url('cog.svg'));
        }

        &.submissions > a {
          @include background-image(asset-url('move.svg'));
        }

        a {
          @include hide-text;
          display: block;
          background-position: center center;
          background-repeat: no-repeat;
          opacity: 0.4;
          height: 48px;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
