nav.side-nav {
  background-color: #95a5a6;
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  padding-top: 100px;
  z-index: 10;

  ul {
    display: block;
    width: 100%;

    li {
      list-style: none;
      display: block;

      a {
        position: relative;
        height: 4.2em;
        line-height: 4.2em;
        display: block;
        padding: 0 2em 0 4em;
        color: rgba(255,255,255,0.5);
        font-weight: 700;

        span {
          position: absolute;
          top: 1.3em;
          left: 1.5em;
          display: block;
          content: '';
          width: 24px;
          height: 24px;
          opacity: 0.5;
          background-size: 24px 24px;
          @include background-image(asset-url('list.svg'));
          @include transition(all 0.15s ease-in);
          @include border-top-radius(0.3rem);
          @include border-bottom-radius(0.3rem);
        }

        &.active,
        &:hover {
          background-color: rgba(255, 255, 255, 0.15);
          color: #FFFFFF;

          span {
            opacity: 1;
          }
        }
      }
    }
  }
}
