.btn,
button,
input[type="submit"] {
  border: 0;
  font-size: 1.3rem;
  font-weight: 700;
  color: rgba(255,255,255,0.9);
  padding: 1.2rem 2rem;
  background: rgba(0,0,0,0.5);
  display: inline-block;
  border-radius: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;

  &:hover {
    color: rgb(255,255,255);
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    cursor-events: none;

    &:hover {
      color: rgba(255,255,255,0.7);
    }
  }
}

.btn.primary,
button.primary {
  background: #62BE5B;
  color: #fff;
}
