html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
  background: #fff;
  font: 1.6rem/1.5 'Helvetica', Arial, sans-serif;
}

a {
  color: #00A5CF;
  text-decoration: none;
}