html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #F4F4F4;
  font: 15px/1.5 'open sans', 'Helvetica', Arial, sans-serif;
  color: #545454;
  height: 100%;
  width: 100%;
}

a {
  color: #59B8D3;
  text-decoration: none;
}
