html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
  background: #fff;
  font: 1.6rem/1.5 'brandon grotesque', 'Helvetica', Arial, sans-serif;
  font-weight: 100;
  color: #444;
}

a {
  color: rgba(192, 57, 43, 1.0);
  text-decoration: none;
}
