<header>
  <div class="wrapper">
    <h1 class="logo">
      <%= link_to 'Walter', root_path %>
    </h1>
    <%= link_to 'Sign up', sign_up_path %>
    <%= link_to 'Sign in', sign_in_path %>
  </div>
</header>
