<!DOCTYPE html>
<html lang="en" ng-app="walterApp" ng-controller="ShellController">
<head>
  <title ng-bind="pageTitle">Walter</title>
  <meta charset="utf-8" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <% if Rails.env.production? %>
    <script src="https://use.typekit.net/ujr4qeu.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <% end %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="main-wrapper">
    <nav class="main">
      <navbar></navbar>
    </nav>

    <main ui-view></main>
  </div>
</body>
</html>
