<!DOCTYPE html>
<html lang="en" ng-app="walterApp" ng-controller="ShellController">
<head>
  <title ng-bind="pageTitle">Walter</title>
  <meta charset="utf-8" />
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <navbar></navbar>

  <main>
    <div class="wrapper" ui-view></div>
  </main>

  <footer>
    <div class="wrapper">
      <div class="col">
        <h2>Walter</h2>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>

      <div class="col">
        <h2>Product Tour</h2>
        <ul>
          <li><a href="#">Setup</a></li>
          <li><a href="#">Using</a></li>
          <li><a href="#">Results</a></li>
          <li><a href="#">FAQs</a></li>
        </ul>
      </div>

      <div class="col">
        <h2>About Us</h2>
        <p>Walter is a LaunchMade product.</p>
      </div>
    </div>
  </footer>

  <script src="https://use.typekit.net/ujr4qeu.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</body>
</html>
