<!DOCTYPE html>
<html lang="en" ng-app="walterApp" ng-controller="ShellController">
<head>
  <title ng-bind="pageTitle">Walter</title>
  <meta charset="utf-8" />
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <navbar></navbar>

  <main>
    <div class="wrapper" ui-view></div>
  </main>
</body>
</html>
